<p id="notice"><%= notice %></p>

<p>
  <b>Time:</b>
  <%= @lecture.time %>
</p>

<p>
  <b>Days of week:</b>
  <%= @lecture.days_of_week %>
</p>


<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
